backend/nodered/gateway/flows.json
[
    {
        "id": "routes",
        "type": "tab",
        "label": "API ROUTES",
        "disabled": false,
        "info": ""
    },
    {
        "id": "req",
        "type": "subflow",
        "name": "route request",
        "info": "Sets `msg.api` to the **base URL** of _target API_, for example:\n```\nhttp://followers:8080/api/v1/\n```",
        "category": "network",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "5fdecfb.5d7903"
                    },
                    {
                        "id": "8bbbc9a3.6d8b98"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 80,
                "wires": [
                    {
                        "id": "8bbbc9a3.6d8b98",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "api",
                "type": "str",
                "value": ""
            }
        ],
        "color": "#FDD0A2",
        "icon": "font-awesome/fa-map-signs",
        "status": {
            "x": 540,
            "y": 140,
            "wires": [
                {
                    "id": "51de9e04.c2f34",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "res",
        "type": "subflow",
        "name": "route response",
        "info": "Sends _target API_ response back.\n\nSee **http response** node for details.",
        "category": "network",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "e2086c51.cf1e2"
                    },
                    {
                        "id": "9dcac88e.3ae638"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#FDD0A2",
        "icon": "font-awesome/fa-map-signs",
        "status": {
            "x": 540,
            "y": 140,
            "wires": [
                {
                    "id": "2aef7349.ef648c",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "5ff429ce.281558",
        "type": "group",
        "z": "routes",
        "name": "POSTING",
        "style": {
            "label": true,
            "stroke": "#3f93cf",
            "fill": "#bfdbef",
            "fill-opacity": "0.23",
            "label-position": "sw",
            "color": "#3f93cf"
        },
        "nodes": [
            "7a9c76f7.94f6b8",
            "7d5dff8.c4eed",
            "f0a94423.c6c098",
            "1035b311.2370ed",
            "78a7cff4.4323e",
            "f8d8390f.5b5518",
            "758b7dec.740aa4",
            "ad702440.98dbf8",
            "4c17e32a.8d95bc"
        ],
        "x": 14,
        "y": 19,
        "w": 1252,
        "h": 150
    },
    {
        "id": "5eaa8cc2.ebc974",
        "type": "group",
        "z": "routes",
        "name": "READING",
        "style": {
            "label": true,
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "fill-opacity": "0.23",
            "label-position": "sw",
            "color": "#92d04f"
        },
        "nodes": [
            "7af6b1b0.f09aa",
            "10069da2.c01af2",
            "134832d7.7af91d",
            "ef96add9.c06f6",
            "28ff81a9.19c25e",
            "28416fdf.27feb",
            "f331cbe7.2b19b8",
            "121e5cd0.4fdbf3",
            "43396544.89f35c",
            "e45eb947.f2c6e8"
        ],
        "x": 14,
        "y": 239,
        "w": 1252,
        "h": 150
    },
    {
        "id": "e85bad7d.48621",
        "type": "group",
        "z": "routes",
        "name": "FOLLOWING",
        "style": {
            "label": true,
            "stroke": "#ff9000",
            "fill": "#ffefbf",
            "label-position": "sw",
            "color": "#ff9000",
            "fill-opacity": "0.23"
        },
        "nodes": [
            "a88bf47d.e54bf8",
            "f120c221.c47cf",
            "e07cab0.4b98658",
            "62ac573b.b393e8",
            "ca13274d.a705f8",
            "e9b3d5dc.a30f48",
            "e3ab72b4.a5998",
            "7f3d22e8.f114fc",
            "bbdc9900.aed458",
            "f0f54f17.2efec",
            "df3cdce3.b97f6",
            "8b6205e5.61bd18"
        ],
        "x": 14,
        "y": 471.5,
        "w": 1252,
        "h": 157.5
    },
    {
        "id": "677cd161.878b8",
        "type": "group",
        "z": "routes",
        "name": "WALL",
        "style": {
            "label": true,
            "stroke": "#6f2fa0",
            "fill": "#dbcbe7",
            "label-position": "sw",
            "color": "#6f2fa0",
            "fill-opacity": "0.23"
        },
        "nodes": [
            "213a1c71.8f6b44",
            "994c0731.e6e1c8",
            "5f0727f5.cad858",
            "4d665580.f580ac",
            "1466538a.ee710c"
        ],
        "x": 14,
        "y": 659,
        "w": 1232,
        "h": 150
    },
    {
        "id": "96a93ab.86c69c8",
        "type": "debug",
        "z": "res",
        "name": "res",
        "active": false,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "log",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 335,
        "y": 200,
        "wires": [],
        "icon": "font-awesome/fa-terminal",
        "l": false
    },
    {
        "id": "e2086c51.cf1e2",
        "type": "template",
        "z": "res",
        "name": "",
        "field": "log",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{{{statusCode}}}] {{{responseUrl}}}",
        "output": "str",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "96a93ab.86c69c8",
                "2aef7349.ef648c"
            ]
        ]
    },
    {
        "id": "580dd1e4.2c039",
        "type": "debug",
        "z": "req",
        "name": "req",
        "active": false,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "log",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 335,
        "y": 200,
        "wires": [],
        "icon": "font-awesome/fa-terminal",
        "l": false
    },
    {
        "id": "5fdecfb.5d7903",
        "type": "template",
        "z": "req",
        "name": "",
        "field": "log",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{{{req.method}}}] {{{req.url}}}",
        "output": "str",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "580dd1e4.2c039",
                "51de9e04.c2f34"
            ]
        ]
    },
    {
        "id": "51de9e04.c2f34",
        "type": "change",
        "z": "req",
        "name": "timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9dcac88e.3ae638",
        "type": "http response",
        "z": "res",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "2aef7349.ef648c",
        "type": "change",
        "z": "res",
        "name": "timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8bbbc9a3.6d8b98",
        "type": "change",
        "z": "req",
        "name": "api",
        "rules": [
            {
                "t": "set",
                "p": "api",
                "pt": "msg",
                "to": "api",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "a88bf47d.e54bf8",
        "type": "subflow:req",
        "z": "routes",
        "g": "e85bad7d.48621",
        "name": "following route",
        "env": [
            {
                "name": "api",
                "value": "FOLLOWERS_API",
                "type": "env"
            }
        ],
        "x": 560,
        "y": 520,
        "wires": [
            [
                "f120c221.c47cf",
                "e07cab0.4b98658"
            ]
        ]
    },
    {
        "id": "f120c221.c47cf",
        "type": "http request",
        "z": "routes",
        "g": "e85bad7d.48621",
        "name": "following request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{api}}}users/{{{req.query.user}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 810,
        "y": 520,
        "wires": [
            [
                "62ac573b.b393e8",
                "f0f54f17.2efec"
            ]
        ]
    },
    {
        "id": "e07cab0.4b98658",
        "type": "debug",
        "z": "routes",
        "g": "e85bad7d.48621",
        "name": "following route",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 735,
        "y": 580,
        "wires": [],
        "l": false
    },
    {
        "id": "62ac573b.b393e8",
        "type": "debug",
        "z": "routes",
        "g": "e85bad7d.48621",
        "name": "following res",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 955,
        "y": 580,
        "wires": [],
        "l": false
    },
    {
        "id": "ca13274d.a705f8",
        "type": "subflow:res",
        "z": "routes",
        "g": "e85bad7d.48621",
        "name": "following response",
        "env": [],
        "x": 1150,
        "y": 580,
        "wires": []
    },
    {
        "id": "e9b3d5dc.a30f48",
        "type": "http in",
        "z": "routes",
        "g": "e85bad7d.48621",
        "name": "",
        "url": "/following",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "7f3d22e8.f114fc",
                "bbdc9900.aed458"
            ]
        ]
    },
    {
        "id": "e3ab72b4.a5998",
        "type": "change",
        "z": "routes",
        "g": "e85bad7d.48621",
        "name": "following http method",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "req.method",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 395,
        "y": 520,
        "wires": [
            [
                "a88bf47d.e54bf8"
            ]
        ],
        "l": false,
        "info": "Outputs `msg.method` forwarding input `msg.req.method` to _target API_."
    },
    {
        "id": "7f3d22e8.f114fc",
        "type": "debug",
        "z": "routes",
        "g": "e85bad7d.48621",
        "name": "following req",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 275,
        "y": 580,
        "wires": [],
        "l": false
    },
    {
        "id": "7a9c76f7.94f6b8",
        "type": "http in",
        "z": "routes",
        "g": "5ff429ce.281558",
        "name": "",
        "url": "/posting",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "7d5dff8.c4eed",
                "f0a94423.c6c098"
            ]
        ]
    },
    {
        "id": "7d5dff8.c4eed",
        "type": "debug",
        "z": "routes",
        "g": "5ff429ce.281558",
        "name": "posting req",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 275,
        "y": 120,
        "wires": [],
        "l": false
    },
    {
        "id": "78a7cff4.4323e",
        "type": "subflow:req",
        "z": "routes",
        "g": "5ff429ce.281558",
        "name": "posting route",
        "env": [
            {
                "name": "api",
                "value": "TIMELINES_API",
                "type": "env"
            }
        ],
        "x": 550,
        "y": 60,
        "wires": [
            [
                "f8d8390f.5b5518",
                "758b7dec.740aa4"
            ]
        ]
    },
    {
        "id": "f8d8390f.5b5518",
        "type": "http request",
        "z": "routes",
        "g": "5ff429ce.281558",
        "name": "posting request",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{{api}}}posting",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 800,
        "y": 60,
        "wires": [
            [
                "ad702440.98dbf8",
                "4c17e32a.8d95bc"
            ]
        ]
    },
    {
        "id": "758b7dec.740aa4",
        "type": "debug",
        "z": "routes",
        "g": "5ff429ce.281558",
        "name": "posting route",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 735,
        "y": 120,
        "wires": [],
        "l": false
    },
    {
        "id": "ad702440.98dbf8",
        "type": "debug",
        "z": "routes",
        "g": "5ff429ce.281558",
        "name": "posting res",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 955,
        "y": 120,
        "wires": [],
        "l": false
    },
    {
        "id": "4c17e32a.8d95bc",
        "type": "subflow:res",
        "z": "routes",
        "g": "5ff429ce.281558",
        "name": "posting response",
        "env": [],
        "x": 1150,
        "y": 60,
        "wires": []
    },
    {
        "id": "1035b311.2370ed",
        "type": "template",
        "z": "routes",
        "g": "5ff429ce.281558",
        "name": "posting json",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"user\": \"{{{req.query.user}}}\",\n    \"text\": \"{{{payload}}}\"\n}",
        "output": "json",
        "x": 395,
        "y": 60,
        "wires": [
            [
                "78a7cff4.4323e"
            ]
        ],
        "l": false,
        "info": "Outputs a JSON `msg.payload` where:\n- `user` is the user in the request query,\n- `text` is the _string_ request payload."
    },
    {
        "id": "7af6b1b0.f09aa",
        "type": "http in",
        "z": "routes",
        "g": "5eaa8cc2.ebc974",
        "name": "",
        "url": "/reading",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "10069da2.c01af2",
                "43396544.89f35c"
            ]
        ]
    },
    {
        "id": "10069da2.c01af2",
        "type": "debug",
        "z": "routes",
        "g": "5eaa8cc2.ebc974",
        "name": "reading req",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 275,
        "y": 340,
        "wires": [],
        "l": false
    },
    {
        "id": "134832d7.7af91d",
        "type": "subflow:req",
        "z": "routes",
        "g": "5eaa8cc2.ebc974",
        "name": "reading route",
        "env": [
            {
                "name": "api",
                "value": "TIMELINES_API",
                "type": "env"
            }
        ],
        "x": 550,
        "y": 280,
        "wires": [
            [
                "ef96add9.c06f6",
                "28ff81a9.19c25e"
            ]
        ]
    },
    {
        "id": "ef96add9.c06f6",
        "type": "http request",
        "z": "routes",
        "g": "5eaa8cc2.ebc974",
        "name": "reading request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "{{{api}}}reading",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 800,
        "y": 280,
        "wires": [
            [
                "28416fdf.27feb",
                "e45eb947.f2c6e8"
            ]
        ]
    },
    {
        "id": "28ff81a9.19c25e",
        "type": "debug",
        "z": "routes",
        "g": "5eaa8cc2.ebc974",
        "name": "reading route",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 735,
        "y": 340,
        "wires": [],
        "l": false
    },
    {
        "id": "28416fdf.27feb",
        "type": "debug",
        "z": "routes",
        "g": "5eaa8cc2.ebc974",
        "name": "reading res",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 955,
        "y": 340,
        "wires": [],
        "l": false
    },
    {
        "id": "f331cbe7.2b19b8",
        "type": "subflow:res",
        "z": "routes",
        "g": "5eaa8cc2.ebc974",
        "name": "reading response",
        "env": [],
        "x": 1150,
        "y": 340,
        "wires": []
    },
    {
        "id": "121e5cd0.4fdbf3",
        "type": "template",
        "z": "routes",
        "g": "5eaa8cc2.ebc974",
        "name": "reading array",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"users\": [\"{{{req.query.user}}}\"]\n}",
        "output": "json",
        "x": 395,
        "y": 280,
        "wires": [
            [
                "134832d7.7af91d"
            ]
        ],
        "l": false,
        "info": "Outputs the `msg.payload.users` _array_ containing the user in the request query."
    },
    {
        "id": "bbdc9900.aed458",
        "type": "change",
        "z": "routes",
        "g": "e85bad7d.48621",
        "name": "following topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "follow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 275,
        "y": 520,
        "wires": [
            [
                "e3ab72b4.a5998"
            ]
        ],
        "icon": "font-awesome/fa-tag",
        "l": false,
        "info": "Outputs `msg.method` forwarding input `msg.req.method` to _target API_."
    },
    {
        "id": "43396544.89f35c",
        "type": "change",
        "z": "routes",
        "g": "5eaa8cc2.ebc974",
        "name": "reading topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "read",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 275,
        "y": 280,
        "wires": [
            [
                "121e5cd0.4fdbf3"
            ]
        ],
        "icon": "font-awesome/fa-tag",
        "l": false,
        "info": "Outputs `msg.method` forwarding input `msg.req.method` to _target API_."
    },
    {
        "id": "f0a94423.c6c098",
        "type": "change",
        "z": "routes",
        "g": "5ff429ce.281558",
        "name": "posting topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "post",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 275,
        "y": 60,
        "wires": [
            [
                "1035b311.2370ed"
            ]
        ],
        "icon": "font-awesome/fa-tag",
        "l": false,
        "info": "Outputs `msg.method` forwarding input `msg.req.method` to _target API_."
    },
    {
        "id": "f0f54f17.2efec",
        "type": "switch",
        "z": "routes",
        "g": "e85bad7d.48621",
        "name": "following switch topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "wall",
                "vt": "str"
            },
            {
                "t": "jsonata_exp",
                "v": "topic = follow and statusCode != 200",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "follow",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 3,
        "x": 955,
        "y": 520,
        "wires": [
            [
                "8671c5bb.6f77d8"
            ],
            [
                "8b6205e5.61bd18"
            ],
            [
                "ca13274d.a705f8"
            ]
        ],
        "l": false
    },
    {
        "id": "213a1c71.8f6b44",
        "type": "http in",
        "z": "routes",
        "g": "677cd161.878b8",
        "name": "",
        "url": "/wall",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 700,
        "wires": [
            [
                "994c0731.e6e1c8",
                "5f0727f5.cad858"
            ]
        ]
    },
    {
        "id": "994c0731.e6e1c8",
        "type": "change",
        "z": "routes",
        "g": "677cd161.878b8",
        "name": "following topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "wall",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "_payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 275,
        "y": 700,
        "wires": [
            [
                "e3ab72b4.a5998"
            ]
        ],
        "icon": "font-awesome/fa-tag",
        "l": false,
        "info": "Outputs `msg.method` forwarding input `msg.req.method` to _target API_."
    },
    {
        "id": "5f0727f5.cad858",
        "type": "debug",
        "z": "routes",
        "g": "677cd161.878b8",
        "name": "wall req",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 275,
        "y": 760,
        "wires": [],
        "l": false
    },
    {
        "id": "e45eb947.f2c6e8",
        "type": "switch",
        "z": "routes",
        "g": "5eaa8cc2.ebc974",
        "name": "reading switch topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "wall",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "read",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 955,
        "y": 280,
        "wires": [
            [
                "c4786fd.5d7eb9"
            ],
            [
                "f331cbe7.2b19b8"
            ]
        ],
        "l": false
    },
    {
        "id": "4d665580.f580ac",
        "type": "subflow:res",
        "z": "routes",
        "g": "677cd161.878b8",
        "name": "wall response",
        "env": [],
        "x": 1140,
        "y": 700,
        "wires": []
    },
    {
        "id": "c4786fd.5d7eb9",
        "type": "no-op",
        "z": "routes",
        "name": "wall",
        "x": 1075,
        "y": 200,
        "wires": [
            [
                "131af76d.674ab9"
            ]
        ],
        "l": false
    },
    {
        "id": "131af76d.674ab9",
        "type": "no-op",
        "z": "routes",
        "name": "wall",
        "x": 1235,
        "y": 200,
        "wires": [
            [
                "97f5c05b.87023"
            ]
        ],
        "l": false
    },
    {
        "id": "97f5c05b.87023",
        "type": "no-op",
        "z": "routes",
        "name": "wall",
        "x": 1355,
        "y": 760,
        "wires": [
            [
                "1466538a.ee710c"
            ]
        ],
        "l": false
    },
    {
        "id": "1466538a.ee710c",
        "type": "no-op",
        "z": "routes",
        "g": "677cd161.878b8",
        "name": "wall",
        "x": 395,
        "y": 760,
        "wires": [
            [
                "e4b652f2.83957"
            ]
        ],
        "l": false
    },
    {
        "id": "fc94afaf.2783d",
        "type": "debug",
        "z": "routes",
        "name": "wall res",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 955,
        "y": 760,
        "wires": [],
        "l": false
    },
    {
        "id": "e4b652f2.83957",
        "type": "no-op",
        "z": "routes",
        "name": "/wall is an API composition of /following and /reading",
        "x": 680,
        "y": 700,
        "wires": [
            [
                "fc94afaf.2783d",
                "4d665580.f580ac"
            ]
        ]
    },
    {
        "id": "8671c5bb.6f77d8",
        "type": "function",
        "z": "routes",
        "name": "wall clean message",
        "func": "for (const p in msg)\n    if (!['_msgid', '_payload', 'topic', 'payload', 'req', 'res'].includes(p))\n        delete msg[p];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1075,
        "y": 420,
        "wires": [
            [
                "d01b2431.e14d98"
            ]
        ],
        "icon": "font-awesome/fa-eraser",
        "l": false
    },
    {
        "id": "d01b2431.e14d98",
        "type": "change",
        "z": "routes",
        "name": "wall follows",
        "rules": [
            {
                "t": "set",
                "p": "follows",
                "pt": "msg",
                "to": "payload.name~>$exists?payload:_payload",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 275,
        "y": 420,
        "wires": [
            [
                "13366417.ce3bbc"
            ]
        ],
        "l": false
    },
    {
        "id": "df3cdce3.b97f6",
        "type": "http in",
        "z": "routes",
        "g": "e85bad7d.48621",
        "name": "",
        "url": "/following",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "7f3d22e8.f114fc",
                "bbdc9900.aed458"
            ]
        ]
    },
    {
        "id": "8b6205e5.61bd18",
        "type": "change",
        "z": "routes",
        "g": "e85bad7d.48621",
        "name": "empty json",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1075,
        "y": 520,
        "wires": [
            [
                "ca13274d.a705f8"
            ]
        ],
        "icon": "font-awesome/fa-eraser",
        "l": false
    },
    {
        "id": "13366417.ce3bbc",
        "type": "change",
        "z": "routes",
        "name": "wall users",
        "rules": [
            {
                "t": "set",
                "p": "payload.users",
                "pt": "msg",
                "to": "[follows.*]~>$map($string)~>$distinct~>$join(',')",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "follows",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "_payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 395,
        "y": 420,
        "wires": [
            [
                "134832d7.7af91d"
            ]
        ],
        "l": false
    }
]