red/flows.json
[
    {
        "id": "api",
        "type": "tab",
        "label": "API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e021e50b.e51468",
        "type": "group",
        "z": "api",
        "name": "POSTING",
        "style": {
            "stroke": "#3f93cf",
            "fill": "#bfdbef",
            "fill-opacity": "0.23",
            "label": true,
            "label-position": "sw",
            "color": "#3f93cf"
        },
        "nodes": [
            "31282668.c851fa",
            "f690820.3c8258",
            "22058781.155308",
            "455f371.6aa1bc8",
            "9f7a5d30.244ab",
            "7c1a4a6c.b27384"
        ],
        "x": 34,
        "y": 39,
        "w": 1092,
        "h": 210
    },
    {
        "id": "5948f0b5.c6f51",
        "type": "group",
        "z": "api",
        "name": "READING",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "label": true,
            "label-position": "sw",
            "color": "#92d04f",
            "fill-opacity": "0.23"
        },
        "nodes": [
            "dd1ceea5.447d9",
            "c614c8bc.fd1cc8",
            "1a7a81f3.bfa44e",
            "fba1db7d.82b218",
            "d2b8f80b.fdb5a8",
            "660a9b67.1d7c14",
            "b5806876.da5228",
            "69499045.fa6ec",
            "f7d73811.6adc08",
            "1748215a.5ae18f",
            "90d7df3a.de6fd",
            "de841478.6cecd8"
        ],
        "x": 34,
        "y": 279,
        "w": 1092,
        "h": 450
    },
    {
        "id": "ae6c1944.f60ee8",
        "type": "influxdb",
        "z": "api",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "kata",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "22058781.155308",
        "type": "http in",
        "z": "api",
        "g": "e021e50b.e51468",
        "name": "posting request",
        "url": "/",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "7c1a4a6c.b27384",
                "f690820.3c8258"
            ]
        ]
    },
    {
        "id": "31282668.c851fa",
        "type": "influxdb out",
        "z": "api",
        "g": "e021e50b.e51468",
        "influxdb": "ae6c1944.f60ee8",
        "name": "write to timeline",
        "measurement": "timeline",
        "precision": "s",
        "retentionPolicy": "",
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "69499045.fa6ec",
        "type": "influxdb in",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "influxdb": "ae6c1944.f60ee8",
        "name": "query timelines",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 760,
        "y": 620,
        "wires": [
            [
                "1748215a.5ae18f",
                "90d7df3a.de6fd"
            ]
        ]
    },
    {
        "id": "d2b8f80b.fdb5a8",
        "type": "inject",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "test reading",
        "props": [
            {
                "p": "measurement",
                "v": "test",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"users\":[\"mario\",\"luigi\"]}",
        "payloadType": "json",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "fba1db7d.82b218"
            ]
        ]
    },
    {
        "id": "1748215a.5ae18f",
        "type": "debug",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "reading result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 620,
        "wires": []
    },
    {
        "id": "f690820.3c8258",
        "type": "template",
        "z": "api",
        "g": "e021e50b.e51468",
        "name": "convert to influx point",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[{\"post\":\"{{{payload.text}}}\"},{\"user\":\"{{{payload.user}}}\"}]",
        "output": "json",
        "x": 420,
        "y": 140,
        "wires": [
            [
                "31282668.c851fa",
                "9f7a5d30.244ab"
            ]
        ]
    },
    {
        "id": "455f371.6aa1bc8",
        "type": "inject",
        "z": "api",
        "g": "e021e50b.e51468",
        "name": "test posting",
        "props": [
            {
                "p": "measurement",
                "v": "test",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user\":\"mario\",\"text\":\"let's-a go\"}",
        "payloadType": "json",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "f690820.3c8258"
            ]
        ]
    },
    {
        "id": "b5806876.da5228",
        "type": "template",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "convert to influx query",
        "field": "query",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT \"post\" FROM {{{measurement}}} WHERE time > now() - {{{limit.t}}} AND \"user\"=~{{{userRegex}}} GROUP BY \"user\" ORDER BY desc LIMIT {{{limit.n}}}",
        "output": "str",
        "x": 420,
        "y": 560,
        "wires": [
            [
                "69499045.fa6ec",
                "f7d73811.6adc08"
            ]
        ]
    },
    {
        "id": "660a9b67.1d7c14",
        "type": "change",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "set influx query limits",
        "rules": [
            {
                "t": "set",
                "p": "limit.t",
                "pt": "msg",
                "to": "INFLUXDB_LIMIT_TIME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "limit.n",
                "pt": "msg",
                "to": "INFLUXDB_LIMIT_COUNT",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 500,
        "wires": [
            [
                "b5806876.da5228"
            ]
        ]
    },
    {
        "id": "f7d73811.6adc08",
        "type": "debug",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "reading query",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "query",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 560,
        "wires": []
    },
    {
        "id": "fba1db7d.82b218",
        "type": "change",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "set influx query users regex",
        "rules": [
            {
                "t": "set",
                "p": "userRegex",
                "pt": "msg",
                "to": "'/^(?:'&$join(payload.users,'|')&')/'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 440,
        "wires": [
            [
                "660a9b67.1d7c14"
            ]
        ]
    },
    {
        "id": "c614c8bc.fd1cc8",
        "type": "http in",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "reading request",
        "url": "/",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "1a7a81f3.bfa44e",
                "dd1ceea5.447d9"
            ]
        ]
    },
    {
        "id": "1a7a81f3.bfa44e",
        "type": "change",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "set influx default measurement",
        "rules": [
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "timeline",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 380,
        "wires": [
            [
                "fba1db7d.82b218"
            ]
        ]
    },
    {
        "id": "9f7a5d30.244ab",
        "type": "change",
        "z": "api",
        "g": "e021e50b.e51468",
        "name": "posting response",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "204",
                "tot": "num"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 200,
        "wires": [
            [
                "d0cf1ef7.7e44d"
            ]
        ],
        "icon": "font-awesome/fa-eraser"
    },
    {
        "id": "7c1a4a6c.b27384",
        "type": "debug",
        "z": "api",
        "g": "e021e50b.e51468",
        "name": "posting payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 80,
        "wires": []
    },
    {
        "id": "dd1ceea5.447d9",
        "type": "debug",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "reading payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 320,
        "wires": []
    },
    {
        "id": "401fa361.8215ec",
        "type": "http response",
        "z": "api",
        "name": "response",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 980,
        "y": 780,
        "wires": []
    },
    {
        "id": "90d7df3a.de6fd",
        "type": "change",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "reading response",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 680,
        "wires": [
            [
                "de841478.6cecd8"
            ]
        ]
    },
    {
        "id": "63bd52dd.7812ac",
        "type": "link in",
        "z": "api",
        "name": "response",
        "links": [
            "de841478.6cecd8",
            "d0cf1ef7.7e44d"
        ],
        "x": 615,
        "y": 780,
        "wires": [
            [
                "b157b56a.316958"
            ]
        ]
    },
    {
        "id": "de841478.6cecd8",
        "type": "link out",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "reading response",
        "links": [
            "63bd52dd.7812ac"
        ],
        "x": 935,
        "y": 680,
        "wires": []
    },
    {
        "id": "d0cf1ef7.7e44d",
        "type": "link out",
        "z": "api",
        "name": "posting response",
        "links": [
            "63bd52dd.7812ac"
        ],
        "x": 935,
        "y": 200,
        "wires": []
    },
    {
        "id": "b157b56a.316958",
        "type": "switch",
        "z": "api",
        "name": "response exists",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "res~>$exists",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 1,
        "x": 760,
        "y": 780,
        "wires": [
            [
                "401fa361.8215ec"
            ]
        ],
        "icon": "font-awesome/fa-question"
    }
]