nodered/gateway/flows.json
[
    {
        "id": "37805fff.55ed7",
        "type": "tab",
        "label": "ROUTES",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cd495597.b925e8",
        "type": "subflow",
        "name": "route request",
        "info": "Sets `msg.api` to the **base URL** of _target API_, for example:\n```\nhttp://followers:8080/api/v1/\n```",
        "category": "network",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "5fdecfb.5d7903"
                    },
                    {
                        "id": "8bbbc9a3.6d8b98"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 80,
                "wires": [
                    {
                        "id": "8bbbc9a3.6d8b98",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "api",
                "type": "str",
                "value": ""
            }
        ],
        "color": "#FDD0A2",
        "icon": "font-awesome/fa-map-signs",
        "status": {
            "x": 540,
            "y": 140,
            "wires": [
                {
                    "id": "51de9e04.c2f34",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "d09151ba.102fa",
        "type": "subflow",
        "name": "route response",
        "info": "Sends _target API_ response back.\n\nSee **http response** node for details.",
        "category": "network",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "e2086c51.cf1e2"
                    },
                    {
                        "id": "9dcac88e.3ae638"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#FDD0A2",
        "icon": "font-awesome/fa-map-signs",
        "status": {
            "x": 540,
            "y": 140,
            "wires": [
                {
                    "id": "2aef7349.ef648c",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "f92aebe6.6759e8",
        "type": "http request",
        "z": "37805fff.55ed7",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{api}}}users",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 570,
        "y": 720,
        "wires": [
            [
                "6027d7ef.975098",
                "60a556ac.3c58c8"
            ]
        ]
    },
    {
        "id": "6027d7ef.975098",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "listing res",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 715,
        "y": 780,
        "wires": [],
        "l": false
    },
    {
        "id": "98a3dbf1.71dbc8",
        "type": "http in",
        "z": "37805fff.55ed7",
        "name": "",
        "url": "/listing",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "a51514a9.b3e968",
                "58dbb8cd.fb50e8"
            ]
        ]
    },
    {
        "id": "96a93ab.86c69c8",
        "type": "debug",
        "z": "d09151ba.102fa",
        "name": "res",
        "active": false,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "log",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 335,
        "y": 200,
        "wires": [],
        "icon": "font-awesome/fa-terminal",
        "l": false
    },
    {
        "id": "e2086c51.cf1e2",
        "type": "template",
        "z": "d09151ba.102fa",
        "name": "",
        "field": "log",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{{{statusCode}}}] {{{responseUrl}}}",
        "output": "str",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "96a93ab.86c69c8",
                "2aef7349.ef648c"
            ]
        ]
    },
    {
        "id": "580dd1e4.2c039",
        "type": "debug",
        "z": "cd495597.b925e8",
        "name": "req",
        "active": false,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "log",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 335,
        "y": 200,
        "wires": [],
        "icon": "font-awesome/fa-terminal",
        "l": false
    },
    {
        "id": "5fdecfb.5d7903",
        "type": "template",
        "z": "cd495597.b925e8",
        "name": "",
        "field": "log",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{{{req.method}}}] {{{req.url}}}",
        "output": "str",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "580dd1e4.2c039",
                "51de9e04.c2f34"
            ]
        ]
    },
    {
        "id": "72ed9f82.dd896",
        "type": "subflow:cd495597.b925e8",
        "z": "37805fff.55ed7",
        "name": "",
        "env": [
            {
                "name": "api",
                "value": "FOLLOWERS_API",
                "type": "env"
            }
        ],
        "x": 370,
        "y": 720,
        "wires": [
            [
                "f92aebe6.6759e8",
                "ffc2dc08.1362d"
            ]
        ]
    },
    {
        "id": "60a556ac.3c58c8",
        "type": "subflow:d09151ba.102fa",
        "z": "37805fff.55ed7",
        "name": "",
        "env": [],
        "x": 780,
        "y": 720,
        "wires": []
    },
    {
        "id": "51de9e04.c2f34",
        "type": "change",
        "z": "cd495597.b925e8",
        "name": "timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9dcac88e.3ae638",
        "type": "http response",
        "z": "d09151ba.102fa",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "ffc2dc08.1362d",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "listing route",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 515,
        "y": 780,
        "wires": [],
        "l": false
    },
    {
        "id": "2aef7349.ef648c",
        "type": "change",
        "z": "d09151ba.102fa",
        "name": "timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8bbbc9a3.6d8b98",
        "type": "change",
        "z": "cd495597.b925e8",
        "name": "api",
        "rules": [
            {
                "t": "set",
                "p": "api",
                "pt": "msg",
                "to": "api",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "df3cdce3.b97f6",
        "type": "http in",
        "z": "37805fff.55ed7",
        "name": "",
        "url": "/following",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "e3ab72b4.a5998",
                "7f3d22e8.f114fc"
            ]
        ]
    },
    {
        "id": "a88bf47d.e54bf8",
        "type": "subflow:cd495597.b925e8",
        "z": "37805fff.55ed7",
        "name": "",
        "env": [
            {
                "name": "api",
                "value": "FOLLOWERS_API",
                "type": "env"
            }
        ],
        "x": 370,
        "y": 180,
        "wires": [
            [
                "f120c221.c47cf",
                "e07cab0.4b98658"
            ]
        ]
    },
    {
        "id": "f120c221.c47cf",
        "type": "http request",
        "z": "37805fff.55ed7",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{api}}}users/{{{req.query.user}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 570,
        "y": 180,
        "wires": [
            [
                "62ac573b.b393e8",
                "ca13274d.a705f8"
            ]
        ]
    },
    {
        "id": "e07cab0.4b98658",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "following route",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 515,
        "y": 240,
        "wires": [],
        "l": false
    },
    {
        "id": "62ac573b.b393e8",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "following res",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 715,
        "y": 240,
        "wires": [],
        "l": false
    },
    {
        "id": "ca13274d.a705f8",
        "type": "subflow:d09151ba.102fa",
        "z": "37805fff.55ed7",
        "name": "",
        "env": [],
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "e9b3d5dc.a30f48",
        "type": "http in",
        "z": "37805fff.55ed7",
        "name": "",
        "url": "/following",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "7f3d22e8.f114fc",
                "e3ab72b4.a5998"
            ]
        ]
    },
    {
        "id": "e3ab72b4.a5998",
        "type": "change",
        "z": "37805fff.55ed7",
        "name": "http method",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "req.method",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 255,
        "y": 180,
        "wires": [
            [
                "a88bf47d.e54bf8"
            ]
        ],
        "l": false
    },
    {
        "id": "a51514a9.b3e968",
        "type": "no-op",
        "z": "37805fff.55ed7",
        "name": "",
        "x": 255,
        "y": 720,
        "wires": [
            [
                "72ed9f82.dd896"
            ]
        ],
        "l": false
    },
    {
        "id": "7f3d22e8.f114fc",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "following req",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 255,
        "y": 240,
        "wires": [],
        "l": false
    },
    {
        "id": "58dbb8cd.fb50e8",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "listing req",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 255,
        "y": 780,
        "wires": [],
        "l": false
    },
    {
        "id": "7a9c76f7.94f6b8",
        "type": "http in",
        "z": "37805fff.55ed7",
        "name": "",
        "url": "/posting",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "7d5dff8.c4eed",
                "1035b311.2370ed"
            ]
        ]
    },
    {
        "id": "7d5dff8.c4eed",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "listing req",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 255,
        "y": 120,
        "wires": [],
        "l": false
    },
    {
        "id": "78a7cff4.4323e",
        "type": "subflow:cd495597.b925e8",
        "z": "37805fff.55ed7",
        "name": "",
        "env": [
            {
                "name": "api",
                "value": "TIMELINES_API",
                "type": "env"
            }
        ],
        "x": 370,
        "y": 60,
        "wires": [
            [
                "f8d8390f.5b5518",
                "758b7dec.740aa4"
            ]
        ]
    },
    {
        "id": "f8d8390f.5b5518",
        "type": "http request",
        "z": "37805fff.55ed7",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{api}}}posting",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 570,
        "y": 60,
        "wires": [
            [
                "ad702440.98dbf8",
                "4c17e32a.8d95bc"
            ]
        ]
    },
    {
        "id": "758b7dec.740aa4",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "listing route",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 515,
        "y": 120,
        "wires": [],
        "l": false
    },
    {
        "id": "ad702440.98dbf8",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "listing res",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 715,
        "y": 120,
        "wires": [],
        "l": false
    },
    {
        "id": "4c17e32a.8d95bc",
        "type": "subflow:d09151ba.102fa",
        "z": "37805fff.55ed7",
        "name": "",
        "env": [],
        "x": 780,
        "y": 60,
        "wires": []
    },
    {
        "id": "1035b311.2370ed",
        "type": "template",
        "z": "37805fff.55ed7",
        "name": "json",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"user\": \"{{{req.query.user}}}\",\n    \"text\": \"payload\"\n}",
        "output": "json",
        "x": 255,
        "y": 60,
        "wires": [
            [
                "78a7cff4.4323e"
            ]
        ],
        "l": false,
        "info": "Outputs a JSON `msg.payload` with:\n- `user` is the user in the request query,\n- `text` is the _string_ request payload."
    }
]