nodered/gateway/flows.json
[
    {
        "id": "37805fff.55ed7",
        "type": "tab",
        "label": "ROUTES",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cd495597.b925e8",
        "type": "subflow",
        "name": "route request",
        "info": "Sets `msg.api` to the **base URL** of _target API_, for example:\n```\nhttp://followers:8080/api/v1/\n```",
        "category": "network",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "5fdecfb.5d7903"
                    },
                    {
                        "id": "8bbbc9a3.6d8b98"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 80,
                "wires": [
                    {
                        "id": "8bbbc9a3.6d8b98",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "api",
                "type": "str",
                "value": ""
            }
        ],
        "color": "#FDD0A2",
        "icon": "font-awesome/fa-map-signs",
        "status": {
            "x": 540,
            "y": 140,
            "wires": [
                {
                    "id": "51de9e04.c2f34",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "d09151ba.102fa",
        "type": "subflow",
        "name": "route response",
        "info": "Sends _target API_ response back.\n\nSee **http response** node for details.",
        "category": "network",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "e2086c51.cf1e2"
                    },
                    {
                        "id": "9dcac88e.3ae638"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#FDD0A2",
        "icon": "font-awesome/fa-map-signs",
        "status": {
            "x": 540,
            "y": 140,
            "wires": [
                {
                    "id": "2aef7349.ef648c",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "f92aebe6.6759e8",
        "type": "http request",
        "z": "37805fff.55ed7",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{api}}}users",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 540,
        "wires": [
            [
                "6027d7ef.975098",
                "60a556ac.3c58c8"
            ]
        ]
    },
    {
        "id": "6027d7ef.975098",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "listing res",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 835,
        "y": 600,
        "wires": [],
        "l": false
    },
    {
        "id": "98a3dbf1.71dbc8",
        "type": "http in",
        "z": "37805fff.55ed7",
        "name": "",
        "url": "/listing",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "58dbb8cd.fb50e8",
                "392df02a.5f6bf"
            ]
        ]
    },
    {
        "id": "96a93ab.86c69c8",
        "type": "debug",
        "z": "d09151ba.102fa",
        "name": "res",
        "active": false,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "log",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 335,
        "y": 200,
        "wires": [],
        "icon": "font-awesome/fa-terminal",
        "l": false
    },
    {
        "id": "e2086c51.cf1e2",
        "type": "template",
        "z": "d09151ba.102fa",
        "name": "",
        "field": "log",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{{{statusCode}}}] {{{responseUrl}}}",
        "output": "str",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "96a93ab.86c69c8",
                "2aef7349.ef648c"
            ]
        ]
    },
    {
        "id": "580dd1e4.2c039",
        "type": "debug",
        "z": "cd495597.b925e8",
        "name": "req",
        "active": false,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "log",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 335,
        "y": 200,
        "wires": [],
        "icon": "font-awesome/fa-terminal",
        "l": false
    },
    {
        "id": "5fdecfb.5d7903",
        "type": "template",
        "z": "cd495597.b925e8",
        "name": "",
        "field": "log",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{{{req.method}}}] {{{req.url}}}",
        "output": "str",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "580dd1e4.2c039",
                "51de9e04.c2f34"
            ]
        ]
    },
    {
        "id": "72ed9f82.dd896",
        "type": "subflow:cd495597.b925e8",
        "z": "37805fff.55ed7",
        "name": "",
        "env": [
            {
                "name": "api",
                "value": "FOLLOWERS_API",
                "type": "env"
            }
        ],
        "x": 490,
        "y": 540,
        "wires": [
            [
                "f92aebe6.6759e8",
                "ffc2dc08.1362d"
            ]
        ]
    },
    {
        "id": "60a556ac.3c58c8",
        "type": "subflow:d09151ba.102fa",
        "z": "37805fff.55ed7",
        "name": "",
        "env": [],
        "x": 1000,
        "y": 540,
        "wires": []
    },
    {
        "id": "51de9e04.c2f34",
        "type": "change",
        "z": "cd495597.b925e8",
        "name": "timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9dcac88e.3ae638",
        "type": "http response",
        "z": "d09151ba.102fa",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "ffc2dc08.1362d",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "listing route",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 635,
        "y": 600,
        "wires": [],
        "l": false
    },
    {
        "id": "2aef7349.ef648c",
        "type": "change",
        "z": "d09151ba.102fa",
        "name": "timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8bbbc9a3.6d8b98",
        "type": "change",
        "z": "cd495597.b925e8",
        "name": "api",
        "rules": [
            {
                "t": "set",
                "p": "api",
                "pt": "msg",
                "to": "api",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "df3cdce3.b97f6",
        "type": "http in",
        "z": "37805fff.55ed7",
        "name": "",
        "url": "/following",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "7f3d22e8.f114fc",
                "bbdc9900.aed458"
            ]
        ]
    },
    {
        "id": "a88bf47d.e54bf8",
        "type": "subflow:cd495597.b925e8",
        "z": "37805fff.55ed7",
        "name": "",
        "env": [
            {
                "name": "api",
                "value": "FOLLOWERS_API",
                "type": "env"
            }
        ],
        "x": 490,
        "y": 300,
        "wires": [
            [
                "f120c221.c47cf",
                "e07cab0.4b98658"
            ]
        ]
    },
    {
        "id": "f120c221.c47cf",
        "type": "http request",
        "z": "37805fff.55ed7",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{api}}}users/{{{req.query.user}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "62ac573b.b393e8",
                "f0f54f17.2efec"
            ]
        ]
    },
    {
        "id": "e07cab0.4b98658",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "following route",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 635,
        "y": 360,
        "wires": [],
        "l": false
    },
    {
        "id": "62ac573b.b393e8",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "following res",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 835,
        "y": 360,
        "wires": [],
        "l": false
    },
    {
        "id": "ca13274d.a705f8",
        "type": "subflow:d09151ba.102fa",
        "z": "37805fff.55ed7",
        "name": "",
        "env": [],
        "x": 1000,
        "y": 360,
        "wires": []
    },
    {
        "id": "e9b3d5dc.a30f48",
        "type": "http in",
        "z": "37805fff.55ed7",
        "name": "",
        "url": "/following",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "7f3d22e8.f114fc",
                "bbdc9900.aed458"
            ]
        ]
    },
    {
        "id": "e3ab72b4.a5998",
        "type": "change",
        "z": "37805fff.55ed7",
        "name": "following http method",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "req.method",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 355,
        "y": 300,
        "wires": [
            [
                "a88bf47d.e54bf8"
            ]
        ],
        "l": false,
        "info": "Outputs `msg.method` forwarding input `msg.req.method` to _target API_."
    },
    {
        "id": "7f3d22e8.f114fc",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "following req",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 255,
        "y": 360,
        "wires": [],
        "l": false
    },
    {
        "id": "58dbb8cd.fb50e8",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "listing req",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 255,
        "y": 600,
        "wires": [],
        "l": false
    },
    {
        "id": "7a9c76f7.94f6b8",
        "type": "http in",
        "z": "37805fff.55ed7",
        "name": "",
        "url": "/posting",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "7d5dff8.c4eed",
                "f0a94423.c6c098"
            ]
        ]
    },
    {
        "id": "7d5dff8.c4eed",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "posting req",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 255,
        "y": 120,
        "wires": [],
        "l": false
    },
    {
        "id": "78a7cff4.4323e",
        "type": "subflow:cd495597.b925e8",
        "z": "37805fff.55ed7",
        "name": "",
        "env": [
            {
                "name": "api",
                "value": "TIMELINES_API",
                "type": "env"
            }
        ],
        "x": 490,
        "y": 60,
        "wires": [
            [
                "f8d8390f.5b5518",
                "758b7dec.740aa4"
            ]
        ]
    },
    {
        "id": "f8d8390f.5b5518",
        "type": "http request",
        "z": "37805fff.55ed7",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{api}}}posting",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 60,
        "wires": [
            [
                "ad702440.98dbf8",
                "4c17e32a.8d95bc"
            ]
        ]
    },
    {
        "id": "758b7dec.740aa4",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "posting route",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 635,
        "y": 120,
        "wires": [],
        "l": false
    },
    {
        "id": "ad702440.98dbf8",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "posting res",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 835,
        "y": 120,
        "wires": [],
        "l": false
    },
    {
        "id": "4c17e32a.8d95bc",
        "type": "subflow:d09151ba.102fa",
        "z": "37805fff.55ed7",
        "name": "",
        "env": [],
        "x": 1000,
        "y": 60,
        "wires": []
    },
    {
        "id": "1035b311.2370ed",
        "type": "template",
        "z": "37805fff.55ed7",
        "name": "posting json",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"user\": \"{{{req.query.user}}}\",\n    \"text\": \"payload\"\n}",
        "output": "json",
        "x": 355,
        "y": 60,
        "wires": [
            [
                "78a7cff4.4323e"
            ]
        ],
        "l": false,
        "info": "Outputs a JSON `msg.payload` where:\n- `user` is the user in the request query,\n- `text` is the _string_ request payload."
    },
    {
        "id": "7af6b1b0.f09aa",
        "type": "http in",
        "z": "37805fff.55ed7",
        "name": "",
        "url": "/reading",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "10069da2.c01af2",
                "43396544.89f35c"
            ]
        ]
    },
    {
        "id": "10069da2.c01af2",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "reading req",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 255,
        "y": 240,
        "wires": [],
        "l": false
    },
    {
        "id": "134832d7.7af91d",
        "type": "subflow:cd495597.b925e8",
        "z": "37805fff.55ed7",
        "name": "",
        "env": [
            {
                "name": "api",
                "value": "TIMELINES_API",
                "type": "env"
            }
        ],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "ef96add9.c06f6",
                "28ff81a9.19c25e"
            ]
        ]
    },
    {
        "id": "ef96add9.c06f6",
        "type": "http request",
        "z": "37805fff.55ed7",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "{{{api}}}reading",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 180,
        "wires": [
            [
                "28416fdf.27feb",
                "e45eb947.f2c6e8"
            ]
        ]
    },
    {
        "id": "28ff81a9.19c25e",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "reading route",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 635,
        "y": 240,
        "wires": [],
        "l": false
    },
    {
        "id": "28416fdf.27feb",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "reading res",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 835,
        "y": 240,
        "wires": [],
        "l": false
    },
    {
        "id": "f331cbe7.2b19b8",
        "type": "subflow:d09151ba.102fa",
        "z": "37805fff.55ed7",
        "name": "",
        "env": [],
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "121e5cd0.4fdbf3",
        "type": "template",
        "z": "37805fff.55ed7",
        "name": "reading array",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"users\": [\"{{{req.query.user}}}\"]\n}",
        "output": "json",
        "x": 355,
        "y": 180,
        "wires": [
            [
                "134832d7.7af91d"
            ]
        ],
        "l": false,
        "info": "Outputs the `msg.payload.users` _array_ containing the user in the request query."
    },
    {
        "id": "bbdc9900.aed458",
        "type": "change",
        "z": "37805fff.55ed7",
        "name": "following topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "follow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 255,
        "y": 300,
        "wires": [
            [
                "e3ab72b4.a5998"
            ]
        ],
        "icon": "font-awesome/fa-tag",
        "l": false,
        "info": "Outputs `msg.method` forwarding input `msg.req.method` to _target API_."
    },
    {
        "id": "43396544.89f35c",
        "type": "change",
        "z": "37805fff.55ed7",
        "name": "reading topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "read",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 255,
        "y": 180,
        "wires": [
            [
                "121e5cd0.4fdbf3"
            ]
        ],
        "icon": "font-awesome/fa-tag",
        "l": false,
        "info": "Outputs `msg.method` forwarding input `msg.req.method` to _target API_."
    },
    {
        "id": "f0a94423.c6c098",
        "type": "change",
        "z": "37805fff.55ed7",
        "name": "posting topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "post",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 255,
        "y": 60,
        "wires": [
            [
                "1035b311.2370ed"
            ]
        ],
        "icon": "font-awesome/fa-tag",
        "l": false,
        "info": "Outputs `msg.method` forwarding input `msg.req.method` to _target API_."
    },
    {
        "id": "392df02a.5f6bf",
        "type": "change",
        "z": "37805fff.55ed7",
        "name": "listing topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "list",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 255,
        "y": 540,
        "wires": [
            [
                "72ed9f82.dd896"
            ]
        ],
        "icon": "font-awesome/fa-tag",
        "l": false,
        "info": "Outputs `msg.method` forwarding input `msg.req.method` to _target API_."
    },
    {
        "id": "f0f54f17.2efec",
        "type": "switch",
        "z": "37805fff.55ed7",
        "name": "following switch topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "wall",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "follow",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 835,
        "y": 300,
        "wires": [
            [
                "6e445f39.b5844"
            ],
            [
                "ca13274d.a705f8"
            ]
        ],
        "l": false
    },
    {
        "id": "213a1c71.8f6b44",
        "type": "http in",
        "z": "37805fff.55ed7",
        "name": "",
        "url": "/wall",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "994c0731.e6e1c8",
                "5f0727f5.cad858"
            ]
        ]
    },
    {
        "id": "994c0731.e6e1c8",
        "type": "change",
        "z": "37805fff.55ed7",
        "name": "following topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "wall",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 255,
        "y": 420,
        "wires": [
            [
                "e3ab72b4.a5998"
            ]
        ],
        "icon": "font-awesome/fa-tag",
        "l": false,
        "info": "Outputs `msg.method` forwarding input `msg.req.method` to _target API_."
    },
    {
        "id": "5f0727f5.cad858",
        "type": "debug",
        "z": "37805fff.55ed7",
        "name": "wall req",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 255,
        "y": 480,
        "wires": [],
        "l": false
    },
    {
        "id": "6e445f39.b5844",
        "type": "change",
        "z": "37805fff.55ed7",
        "name": "wall users",
        "rules": [
            {
                "t": "set",
                "p": "payload.users",
                "pt": "msg",
                "to": "payload.*~>$distinct~>$join(',')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 355,
        "y": 240,
        "wires": [
            [
                "134832d7.7af91d"
            ]
        ],
        "l": false
    },
    {
        "id": "e45eb947.f2c6e8",
        "type": "switch",
        "z": "37805fff.55ed7",
        "name": "reading switch topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "wall",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "read",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 835,
        "y": 180,
        "wires": [
            [
                "42e577f5.7dc498"
            ],
            [
                "f331cbe7.2b19b8"
            ]
        ],
        "l": false
    },
    {
        "id": "42e577f5.7dc498",
        "type": "link out",
        "z": "37805fff.55ed7",
        "name": "wall",
        "links": [
            "a9c89945.a21a88"
        ],
        "x": 935,
        "y": 120,
        "wires": []
    },
    {
        "id": "a9c89945.a21a88",
        "type": "link in",
        "z": "37805fff.55ed7",
        "name": "wall",
        "links": [
            "42e577f5.7dc498"
        ],
        "x": 355,
        "y": 420,
        "wires": [
            [
                "4d665580.f580ac"
            ]
        ]
    },
    {
        "id": "4d665580.f580ac",
        "type": "subflow:d09151ba.102fa",
        "z": "37805fff.55ed7",
        "name": "",
        "env": [],
        "x": 1000,
        "y": 420,
        "wires": []
    }
]