nodered/flows.json
[
    {
        "id": "api",
        "type": "tab",
        "label": "API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ce63d646.1b7968",
        "type": "tab",
        "label": "TEST",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e021e50b.e51468",
        "type": "group",
        "z": "api",
        "name": "POSTING",
        "style": {
            "stroke": "#3f93cf",
            "fill": "#bfdbef",
            "fill-opacity": "0.23",
            "label": true,
            "label-position": "sw",
            "color": "#3f93cf"
        },
        "nodes": [
            "31282668.c851fa",
            "f690820.3c8258",
            "22058781.155308",
            "9f7a5d30.244ab",
            "7c1a4a6c.b27384",
            "d0cf1ef7.7e44d",
            "4e5fa64d.519678",
            "6509d394.cda4dc",
            "366700fd.ebb8c"
        ],
        "x": 14,
        "y": 19,
        "w": 1112,
        "h": 210
    },
    {
        "id": "5948f0b5.c6f51",
        "type": "group",
        "z": "api",
        "name": "READING",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "label": true,
            "label-position": "sw",
            "color": "#92d04f",
            "fill-opacity": "0.23"
        },
        "nodes": [
            "dd1ceea5.447d9",
            "c614c8bc.fd1cc8",
            "1a7a81f3.bfa44e",
            "fba1db7d.82b218",
            "660a9b67.1d7c14",
            "b5806876.da5228",
            "69499045.fa6ec",
            "f7d73811.6adc08",
            "1748215a.5ae18f",
            "90d7df3a.de6fd",
            "de841478.6cecd8",
            "32d739f5.8eaa96",
            "7bc491f6.e0727"
        ],
        "x": 14,
        "y": 239,
        "w": 1112,
        "h": 510
    },
    {
        "id": "bfa0a8e7.f33b08",
        "type": "group",
        "z": "ce63d646.1b7968",
        "name": "3X",
        "style": {
            "fill": "#d1d1d1",
            "fill-opacity": "0.23",
            "label": true,
            "label-position": "n",
            "color": "#777777"
        },
        "nodes": [
            "cbcc41f2.f8f9e",
            "c97dbf49.d36cd",
            "1362bbb0.ceb304"
        ],
        "x": 234,
        "y": 39,
        "w": 82,
        "h": 202
    },
    {
        "id": "ae6c1944.f60ee8",
        "type": "influxdb",
        "z": "api",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "kata",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "22058781.155308",
        "type": "http in",
        "z": "api",
        "g": "e021e50b.e51468",
        "name": "posting request",
        "url": "/api/v1/posting",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "f690820.3c8258",
                "4e5fa64d.519678"
            ]
        ]
    },
    {
        "id": "31282668.c851fa",
        "type": "influxdb out",
        "z": "api",
        "g": "e021e50b.e51468",
        "influxdb": "ae6c1944.f60ee8",
        "name": "write to timeline",
        "measurement": "timeline",
        "precision": "s",
        "retentionPolicy": "",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "69499045.fa6ec",
        "type": "influxdb in",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "influxdb": "ae6c1944.f60ee8",
        "name": "query timelines",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 680,
        "y": 640,
        "wires": [
            [
                "1748215a.5ae18f",
                "90d7df3a.de6fd"
            ]
        ]
    },
    {
        "id": "1748215a.5ae18f",
        "type": "debug",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "reading result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 640,
        "wires": []
    },
    {
        "id": "f690820.3c8258",
        "type": "template",
        "z": "api",
        "g": "e021e50b.e51468",
        "name": "convert to influx point",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[{\"post\":\"{{{payload.text}}}\"},{\"user\":\"{{{payload.user}}}\"}]",
        "output": "json",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "31282668.c851fa",
                "9f7a5d30.244ab",
                "daad552b.4bbfc8"
            ]
        ]
    },
    {
        "id": "b5806876.da5228",
        "type": "template",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "convert to influx query",
        "field": "query",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT \"post\" FROM {{{measurement}}} WHERE time > now() - {{{limit.t}}} AND \"user\"=~{{{userRegex}}} GROUP BY \"user\" ORDER BY desc LIMIT {{{limit.n}}}",
        "output": "str",
        "x": 400,
        "y": 580,
        "wires": [
            [
                "69499045.fa6ec",
                "f7d73811.6adc08"
            ]
        ]
    },
    {
        "id": "660a9b67.1d7c14",
        "type": "change",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "set influx query limits",
        "rules": [
            {
                "t": "set",
                "p": "limit.t",
                "pt": "msg",
                "to": "INFLUXDB_LIMIT_TIME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "limit.n",
                "pt": "msg",
                "to": "INFLUXDB_LIMIT_COUNT",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 520,
        "wires": [
            [
                "b5806876.da5228"
            ]
        ]
    },
    {
        "id": "f7d73811.6adc08",
        "type": "debug",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "reading query",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "query",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 580,
        "wires": []
    },
    {
        "id": "fba1db7d.82b218",
        "type": "change",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "set influx query users regex",
        "rules": [
            {
                "t": "set",
                "p": "userRegex",
                "pt": "msg",
                "to": "'/^(?:'&$join(payload.users,'|')&')$/'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 460,
        "wires": [
            [
                "660a9b67.1d7c14"
            ]
        ]
    },
    {
        "id": "c614c8bc.fd1cc8",
        "type": "http in",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "reading request",
        "url": "/api/v1/reading",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "1a7a81f3.bfa44e",
                "dd1ceea5.447d9"
            ]
        ]
    },
    {
        "id": "1a7a81f3.bfa44e",
        "type": "change",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "get users from url parameters",
        "rules": [
            {
                "t": "set",
                "p": "payload.users",
                "pt": "msg",
                "to": "req.query.users~>$split(',')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "32d739f5.8eaa96",
                "e75cb519.4e6518"
            ]
        ]
    },
    {
        "id": "9f7a5d30.244ab",
        "type": "change",
        "z": "api",
        "g": "e021e50b.e51468",
        "name": "posting response",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "204",
                "tot": "num"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "d0cf1ef7.7e44d"
            ]
        ],
        "icon": "font-awesome/fa-eraser"
    },
    {
        "id": "7c1a4a6c.b27384",
        "type": "debug",
        "z": "api",
        "g": "e021e50b.e51468",
        "name": "posting message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 60,
        "wires": []
    },
    {
        "id": "dd1ceea5.447d9",
        "type": "debug",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "reading message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 280,
        "wires": []
    },
    {
        "id": "401fa361.8215ec",
        "type": "http response",
        "z": "api",
        "name": "response",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 660,
        "y": 780,
        "wires": []
    },
    {
        "id": "90d7df3a.de6fd",
        "type": "change",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "reading response",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 700,
        "wires": [
            [
                "de841478.6cecd8"
            ]
        ]
    },
    {
        "id": "63bd52dd.7812ac",
        "type": "link in",
        "z": "api",
        "name": "response in",
        "links": [
            "d0cf1ef7.7e44d",
            "de841478.6cecd8"
        ],
        "x": 75,
        "y": 780,
        "wires": [
            [
                "b157b56a.316958"
            ]
        ]
    },
    {
        "id": "de841478.6cecd8",
        "type": "link out",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "reading out",
        "links": [
            "63bd52dd.7812ac",
            "edd2d2a0.34afe"
        ],
        "x": 915,
        "y": 700,
        "wires": []
    },
    {
        "id": "d0cf1ef7.7e44d",
        "type": "link out",
        "z": "api",
        "g": "e021e50b.e51468",
        "name": "posting out response",
        "links": [
            "63bd52dd.7812ac"
        ],
        "x": 915,
        "y": 180,
        "wires": []
    },
    {
        "id": "b157b56a.316958",
        "type": "switch",
        "z": "api",
        "name": "response exists",
        "property": "res",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "res~>$exists",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 1,
        "x": 380,
        "y": 780,
        "wires": [
            [
                "401fa361.8215ec"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "32d739f5.8eaa96",
        "type": "change",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "set influx measurement",
        "rules": [
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "timeline",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "fba1db7d.82b218"
            ]
        ]
    },
    {
        "id": "e75cb519.4e6518",
        "type": "debug",
        "z": "api",
        "name": "reading users",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.users",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 340,
        "wires": []
    },
    {
        "id": "4e5fa64d.519678",
        "type": "no-op",
        "z": "api",
        "g": "e021e50b.e51468",
        "name": "forward",
        "x": 815,
        "y": 60,
        "wires": [
            [
                "7c1a4a6c.b27384",
                "3e736678.ed7a3a"
            ]
        ],
        "l": false
    },
    {
        "id": "3e736678.ed7a3a",
        "type": "debug",
        "z": "api",
        "name": "posting payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 120,
        "wires": []
    },
    {
        "id": "6509d394.cda4dc",
        "type": "comment",
        "z": "api",
        "g": "e021e50b.e51468",
        "name": "API that writes a user text to zir timeline.",
        "info": "",
        "x": 190,
        "y": 180,
        "wires": []
    },
    {
        "id": "876fe9b0.b685d8",
        "type": "comment",
        "z": "api",
        "name": "API that returns texts from timeline of multiple users.",
        "info": "",
        "x": 230,
        "y": 700,
        "wires": []
    },
    {
        "id": "c76d925d.db76a",
        "type": "comment",
        "z": "api",
        "name": "every API returns an HTTP response to its caller",
        "info": "",
        "x": 940,
        "y": 780,
        "wires": []
    },
    {
        "id": "4f69e584.24293c",
        "type": "data-generator",
        "z": "ce63d646.1b7968",
        "name": "dummy",
        "field": "test",
        "fieldType": "msg",
        "syntax": "json",
        "template": "{\n    \"user\": \"{{firstName}}\",\n    \"text\": \"{{lorem 10}}\"\n}",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "cbc68a78.5aa2a8"
            ]
        ]
    },
    {
        "id": "49a52e.528c3ad4",
        "type": "inject",
        "z": "ce63d646.1b7968",
        "name": "test",
        "props": [
            {
                "p": "measurement",
                "v": "test",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "cbcc41f2.f8f9e",
                "c97dbf49.d36cd",
                "1362bbb0.ceb304"
            ]
        ]
    },
    {
        "id": "cbcc41f2.f8f9e",
        "type": "no-op",
        "z": "ce63d646.1b7968",
        "g": "bfa0a8e7.f33b08",
        "name": "forward",
        "x": 275,
        "y": 200,
        "wires": [
            [
                "4f69e584.24293c"
            ]
        ],
        "l": false
    },
    {
        "id": "c97dbf49.d36cd",
        "type": "no-op",
        "z": "ce63d646.1b7968",
        "g": "bfa0a8e7.f33b08",
        "name": "forward",
        "x": 275,
        "y": 80,
        "wires": [
            [
                "4f69e584.24293c"
            ]
        ],
        "l": false
    },
    {
        "id": "1362bbb0.ceb304",
        "type": "no-op",
        "z": "ce63d646.1b7968",
        "g": "bfa0a8e7.f33b08",
        "name": "forward",
        "x": 275,
        "y": 140,
        "wires": [
            [
                "4f69e584.24293c"
            ]
        ],
        "l": false
    },
    {
        "id": "6b2aa337.17978c",
        "type": "link in",
        "z": "ce63d646.1b7968",
        "name": "posting test done",
        "links": [
            "daad552b.4bbfc8"
        ],
        "x": 595,
        "y": 200,
        "wires": [
            [
                "2795e8d9.4e5a28"
            ]
        ]
    },
    {
        "id": "366700fd.ebb8c",
        "type": "link in",
        "z": "api",
        "g": "e021e50b.e51468",
        "name": "posting test",
        "links": [
            "6dbc5aea.d7f034"
        ],
        "x": 175,
        "y": 120,
        "wires": [
            [
                "f690820.3c8258",
                "c067204a.c71d5"
            ]
        ]
    },
    {
        "id": "6dbc5aea.d7f034",
        "type": "link out",
        "z": "ce63d646.1b7968",
        "name": "posting test",
        "links": [
            "366700fd.ebb8c"
        ],
        "x": 415,
        "y": 200,
        "wires": []
    },
    {
        "id": "2795e8d9.4e5a28",
        "type": "switch",
        "z": "ce63d646.1b7968",
        "name": "is test",
        "property": "test",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "test~>$exists",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 1,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "5253702d.8bf6e"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "2c52d2c9.9d858e",
        "type": "join",
        "z": "ce63d646.1b7968",
        "name": "join points",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 300,
        "y": 320,
        "wires": [
            [
                "6bdb8d1a.c1e044"
            ]
        ]
    },
    {
        "id": "6bdb8d1a.c1e044",
        "type": "change",
        "z": "ce63d646.1b7968",
        "name": "join users",
        "rules": [
            {
                "t": "set",
                "p": "test",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"users\":payload.user}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 380,
        "wires": [
            [
                "e2565e4f.2380a"
            ]
        ]
    },
    {
        "id": "e2565e4f.2380a",
        "type": "link out",
        "z": "ce63d646.1b7968",
        "name": "reading test",
        "links": [
            "7bc491f6.e0727"
        ],
        "x": 415,
        "y": 380,
        "wires": []
    },
    {
        "id": "7bc491f6.e0727",
        "type": "link in",
        "z": "api",
        "g": "5948f0b5.c6f51",
        "name": "reading test",
        "links": [
            "e2565e4f.2380a"
        ],
        "x": 175,
        "y": 460,
        "wires": [
            [
                "fba1db7d.82b218"
            ]
        ]
    },
    {
        "id": "cbc68a78.5aa2a8",
        "type": "change",
        "z": "ce63d646.1b7968",
        "name": "set test payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "test",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 140,
        "wires": [
            [
                "6dbc5aea.d7f034",
                "f6b0be1d.3fb5f"
            ]
        ]
    },
    {
        "id": "f6b0be1d.3fb5f",
        "type": "debug",
        "z": "ce63d646.1b7968",
        "name": "test posting payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 140,
        "wires": []
    },
    {
        "id": "daad552b.4bbfc8",
        "type": "link out",
        "z": "api",
        "name": "posting out test",
        "links": [
            "6b2aa337.17978c"
        ],
        "x": 415,
        "y": 180,
        "wires": []
    },
    {
        "id": "edd2d2a0.34afe",
        "type": "link in",
        "z": "ce63d646.1b7968",
        "name": "reading test done",
        "links": [
            "de841478.6cecd8"
        ],
        "x": 595,
        "y": 380,
        "wires": [
            [
                "cbe6226a.99662"
            ]
        ]
    },
    {
        "id": "cbe6226a.99662",
        "type": "switch",
        "z": "ce63d646.1b7968",
        "name": "is test",
        "property": "test",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "test~>$exists",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 1,
        "x": 690,
        "y": 380,
        "wires": [
            [
                "15570816.988f98",
                "db6a683e.0e3f88"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "15570816.988f98",
        "type": "debug",
        "z": "ce63d646.1b7968",
        "name": "test reading payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 380,
        "wires": []
    },
    {
        "id": "c067204a.c71d5",
        "type": "debug",
        "z": "api",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 220,
        "wires": []
    },
    {
        "id": "5253702d.8bf6e",
        "type": "change",
        "z": "ce63d646.1b7968",
        "name": "keep test for comparison",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "test",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "a7ff2007.fd2b5"
            ]
        ]
    },
    {
        "id": "db6a683e.0e3f88",
        "type": "change",
        "z": "ce63d646.1b7968",
        "name": "found at least 3",
        "rules": [
            {
                "t": "set",
                "p": "result",
                "pt": "msg",
                "to": "[(\t    (\t       test~>$map(\t           function($t){\t               payload~>$filter(\t                    function($p){\t                        $t.user=$p.user and\t                        $t.text=$p.post\t                    }\t               )\t           }\t       )\t    ).time\t)\t~>$distinct]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 440,
        "wires": [
            [
                "e2c0b53b.00f938"
            ]
        ]
    },
    {
        "id": "a7ff2007.fd2b5",
        "type": "delay",
        "z": "ce63d646.1b7968",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 700,
        "y": 260,
        "wires": [
            [
                "2c52d2c9.9d858e"
            ]
        ]
    },
    {
        "id": "e2c0b53b.00f938",
        "type": "function",
        "z": "ce63d646.1b7968",
        "name": "test result",
        "func": "const millis = Date.now() - 3000;\nconst isRecent = r => {\n    const d = Date.parse(r);\n    const ok = d > millis;\n    node.log(`${d} > ${millis} ? ${ok}`);\n    return ok;\n}\nconst status = msg.result.every(isRecent)\n    ? {fill:\"green\",shape:\"dot\",text:\"pass\"} //\n    : {fill:\"red\",shape:\"ring\",text:\"fail\"};\nnode.status(status);",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 440,
        "wires": []
    }
]